<!-- About Us -->

<div class="parallax-container">
    <div class="">
        <img src="/assets/img/running-uphill.jpg" alt="biking bryce" class="responsive-img" />
        <div class="centered-right">
            <h1>About N-DEVR</h1>
        </div>
    </div>
</div>

<div class="container" id="ndevrfont">
    <div class="row">
        <h3>en·deav·or (verb)</h3>
        <h4>try hard to do or achieve something</h4>
        <p class="flow-text">N-DEVR aims to  </p>
    </div>
</div>


<!-- Contributors and Photos -->
<div class="container">
    <div class="row center">
        <div class="col s6 l3">
            <h3 id="ndevrfont">Our Team</h3>
        </div>
    </div>
    <div class="row center">
        <div class="col s6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="https://ca.slack-edge.com/T01EK8F49FD-U01EQLMH3S6-10ba5fdbd101-512" alt="Paul Vatterott">
                </div>
                <div class="card-content">
                    <span class="card-title center">Paul Vatterott</span>
                </div>
            </div>
        </div>
        <div class="col s6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="https://ca.slack-edge.com/T01EK8F49FD-U01EVDTUQTX-1cfe0c87b7c4-512" alt="Ryan Hadfield">
                </div>
                <div class="card-content">
                    <span class="card-title center">Ryan Hadfield</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>