<section class="section">
    </div>
    <!-- Parallax Image -->

    

        <!-- About Us -->
        <div class="row container">
            <p>

            </p>
            <p>Let us help you plan your next N-DEVR!
            </p>
        </div>

        <!-- Contributors and Photos -->
        <div class="container">
            <img src="/" alt="">
            <div class="row center">
                <div class="col s6 l3">
                    <h3 id="ndevrfont">Contributors</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s6 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://ca.slack-edge.com/T01EK8F49FD-U01EQLMH3S6-10ba5fdbd101-512"
                                alt="Paul Vatterott">
                        </div>
                        <div class="card-content">
                            <span class="card-title center">Paul Vatterott</span>
                        </div>
                    </div>
                </div>
                <div class="col s6 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://ca.slack-edge.com/T01EK8F49FD-U01EVDTUQTX-1cfe0c87b7c4-512"
                                alt="Ryan Hadfield">
                        </div>
                        <div class="card-content">
                            <span class="card-title center">Ryan Hadfield</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>