<section class="section">
  </div>
  <div class="row container">
    <h2>Map Test</h2>
  </div>
  <div class="row container">
    <div class="col s12 m4">
      <ul class="collection" id="activityList">
      </ul>
    </div>
    <div class="col s12 m8">
       <div id="mapid" style="height: 500px"></div>
    </div>
  </div>
  <div class="row container">
    <h4 id="totalDistance"></h4>
    <h4 id="totalElevation"></h4>
  </div>
</section>