<section class="section">
  </div>
  <div class="row container">
    <h2>Map Test</h2>
  </div>
  <div class="row container">
    <div class="col s12 m4">
        
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal
  </a>
      <ul class="collection" id="activityList">
      </ul>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Activity Name" id="activity_name" type="text" class="validate">
          <label for="activity_name">Activity Name</label>
        </div>
      </div>
    </form>
  </div>
  <div class="row container">
    <div class="col s12 m6">
      <table class="highlight">
        <thead>
          <tr>
            <th>Segment Name</th>
            <th>Distance</th>
            <th>Elev. Change</th>
          </tr>
        </thead>
        <tbody id='activityList'>
        </tbody>
      </table>
    </div>
    <div class="col s12 m6">
      <div id="mapid" style="height: 500px"></div>
    </div>
  </div>
  <div class="row container">
    <h4 id="totalDistance"></h4>
    <h4 id="totalElevation"></h4>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <a class="waves-effect waves-light btn save-activity" name="save-activity" id="save-activity">Save Activity</a>
    <p id='user_strava_id'>{{user.user_strava_id}}</p>
  </div>
</section>



  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">

      <div class="page1">

 <div class="row">
    <div class="input-field col s6">
      <input id="activityName" type="text" class="validate">
      <label class="active" for="activityName">Activity Name</label>
    </div>
  </div>

        <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="activityDesc" class="materialize-textarea"></textarea>
          <label for="activityDesc">Activity Desc</label>
        </div>
      </div>
    </form>
  </div>

   <a href="#!" data-page="page1" class=" pagebtn waves-effect waves-green btn-flat">Next</a>
      </div>

    <div class="page2 hide">
      <input type="text" class="datepicker">
      

      <a href="#!" data-page="page2"  class="pagebtn modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>

    </div>
    <div class="modal-footer">
   
    </div>
  </div>

  <script src="/assets/js/activity.js"></script>
