<section class="section">
  </div>
  <div class="row container">
    <div class="col s12">
      <h2>Main Page</h2>
      <a class="waves-effect waves-light btn" href="/auth/login">Login</a>
    </div>
  </div>
</section>
